<%- include('partials/header.ejs') %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Story Show</title>
    
    <style>
        div{
            margin-bottom:15px;
        }
        hr.commentseperate{
            border:0.5px solid grey;
        }
    </style>

</head>


<body style="height:100%">

    <div class="container text-center" style="width:1000px;border:2px solid black;" >     
        
            <div class="row text-center">
                <div>
                    <h3 name="title"><%= story.title %></h3>
                </div>
            </div>


            <div class="row text-center">
                <div>
                    <p name="description"><%= story.description %></p>
                </div>
            </div>

            <% if(currentUser._id==story.author._id) {%>
                    <a href='/story/edit/<%= story._id %>' style="float:left;" class="text-center"><button class="btn btn-primary">EDIT</button></a>
            <% } %>


            <hr>
            
    </div>

</body>
</html>
